form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;

    .form-action{
        display: flex;
        justify-content: center;
        align-items: center;
        width: inherit;
        flex-direction: column;
        gap: 1rem;

        button{
            width: inherit;
            padding: 0.3rem 0.7rem;
            font-size: 1.3rem;
        }
    }
}