<div class="container">
    <div class="close-button">
        <div class="type">
            {{type}}
        </div>
        <button type="button" mat-icon-button (click)="closeDrawer()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div class="main-content">
        <div class="title">
            <h1>{{title}}</h1>
        </div>
        <div class="details">
            <h4>Date: </h4>{{date}}
        </div>
        <div class="details">
            <h4>Amount: </h4>{{amount}}
        </div>
        <div class="details">
            <h4>Method: </h4>{{method}}
        </div>
        <ng-container *ngIf="extraComment">
            <div class="details">
                <h4>Extra Comment: </h4>{{extraComment}}
            </div>
        </ng-container>
        <div class="delete_button">
            <button type="button" mat-flat-button color="warn" (click)="deleteExpense()">
                <mat-icon>delete_forever</mat-icon>
                Remove Expense
            </button>
        </div>

    </div>
</div>