<app-tabs (tab)="tabChangeHandler($event)" [swipeData]="swipeData"></app-tabs>

<!-- <div class="filter">
    <p>Filter</p>
    
</div> -->

<div class="card-container">
    <ng-container *ngIf="expenses.length > 0; else noExpenseData">
        <ng-container *ngFor="let expense of expenses">
            <app-expense-card [expense]="expense"
                (click)="showExpenseDetailHandler(expense._id)"></app-expense-card>
        </ng-container>
    </ng-container>
    <ng-template #noExpenseData>
        <h1>No record found!</h1>
    </ng-template>
</div>





<ng-container *ngIf="showExpenseDetail">
    <div class="expense-detail-container">
        <app-expense-detail [Id]="showExpenseDetailOfId" (close)="closeExpenseDetail()" (delete)="expenseDeleteHandler()"></app-expense-detail>
    </div>
</ng-container>