<div class="container">
    <form class="tabs" [formGroup]="filterForm" (ngSubmit)="$event.preventDefaulat()">
        <input type="radio" id="radio-1" formControlName="filter" value="expense" />
        <label class="tab" for="radio-1">Expense</label>
        <input type="radio" id="radio-2" formControlName="filter" value="all" />
        <label class="tab" for="radio-2">All</label>
        <input type="radio" id="radio-3" formControlName="filter" value="income" />
        <label class="tab" for="radio-3">Income</label>
        <span class="glider"></span>
    </form>
</div>